.container {
    width: auto;
    margin: 0 15px;
}
.section {
    margin: 20px 0;
    display: flex;
    justify-content: left;
}
.singleButton {
    margin: 2px;
    display: inline-block;
    &.block {
        width: 170px;
    }
}

h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0.6em;
}
